
importFrom("utils", "packageName")
export(print.htmlwidget)
export(print.suppress_viewer)
export(print.shiny.tag)
S3method(print, shiny.tag)
S3method(as.character, shiny.tag)
S3method(print, htmlwidget)
S3method(as.character, htmlwidget)
S3method(print, suppress_viewer)
