
importFrom("utils", "packageName")
importFrom("trelliscopejs", "trelliscope")
export(print.htmlwidget)
export(print.suppress_viewer)
export(print.shiny.tag)
export(print.facet_trelliscope)
export(trelliscope.data.frame)
S3method(print,facet_trelliscope)
S3method(trelliscope,data.frame)
S3method(print, shiny.tag)
S3method(as.character, shiny.tag)
S3method(print, htmlwidget)
S3method(as.character, htmlwidget)
S3method(print, suppress_viewer)
